#SelectorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#communesSelectorWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#startSimulationButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}